

:host {
    width:95% !important;
}
    
mat-label {
    padding-left: 0px;
    padding-right: 20px;
}
// .mat-label {
//     color: white !important;
// }
// .matlabel {
//     color: white !important;
// }
.dropdown {
    padding-right: 20px;

}
// .checkbox mat-label {
//     color: white !important;
// }

// .thlabel {
//     color: white !important;
// }
